header {
	background-color: #ffffff;
}
header .container {
	height: 100px;
}

header .container a {
	color: #3c3950;
	padding: 8px 15px !important;
	border: 2px solid #ffffff;
}

header .container a:hover {
	border: 2px solid #3b3950;
}


.font-montserrat{
	font-family: 'Montserrat', sans-serif;
}

.thegem-text{
	font-size: 27px;
	margin: 32px 100px 0px 8px;
	color: #3c3950;
}

.thegem-picture {
	margin: 29px 0 37px 0;
}

.font-size-14{
	font-size: 14px;
	font-weight: 700;
}

.icon {
	margin-top: 37px;
}

.img-1{
	margin-left: 29px;
	margin-right: 23px;
}
.img-2{
	margin-right: 20px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel {
	margin-top: 100px;
}

.new-design-trend {
	margin-top: 125px;
	margin-bottom: 110px;
}

.new-design-trend .small-text {
	font-size: 18px;
	color: #aab3b9;
}

h2 {
	font-size: 31.25px;
	background-color: #dfe5e8;
	padding-bottom: 38px;
	z-index: 1000;
	width: 393px;
}

.back-ground {
	height: 344px;
	background-color: #f0f3f2;
	margin: 42px 7px 0 7px;
	position: relative;
}

.back-ground .text {
	position: absolute;
	height: 86px;
	width: 100%;
	margin-top: 209px;
	background-color: #ffffff;
}

.back-ground .text .first-text {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #3f3c52;
}
.back-ground .text .second-text {
	margin-top: 5px;
	font-size: 14px;
	color: #98a2aa;
}

.back-ground .text:hover {
	background-color: #393d50;
	color: #ffffff;
	cursor: pointer;
}

.back-ground .text:hover .first-text, .second-text {
	color: #ffffff;
}

.hr {
	background: none repeat scroll 0 0 #15a28e;
    border: medium none;
    display: block;
    height: 1px;
    margin: 2px auto;
    width: 30px;
}


.three-color {
	height: 300px;
	font-size: 20px;
	color: #ffffff;
}

.three-color .end-text-1{
	margin-top: 30px;
	color: #c0c1c5;
}

.three-color .end-text-2{
	color: #3c3950;
	margin-top: 30px;
}

.black {
	background-color: #393d50;
}

.blue {
	background-color: #00c3d4;
}

.yellow {
	background-color: #fec53d;
}

.three-color img {
	margin-top: 44px;
	margin-bottom: 30px;
}